@page "/"


    <div style="text-align: center; padding-top: 10px;">
        <img src="/images/index.jpg" alt="Logo" style="width: 1000px; height: 300px;" />
    </div>

<div>
    <a href="/adduser" style="text-decoration: none; color: blue; font-weight: bold;text-align: center;">
    Register
</a>
</div>
<div>
    <a href="/ManagerLoginPage" style="text-decoration: none; color: blue; font-weight: bold;text-align: center;">
        Manager
    </a>
</div>
<div>
    <a href="/User" style="text-decoration: none; color: blue; font-weight: bold;text-align: center;">
        Login
    </a>
</div>